/*Variables*/
:root {
  --primary: #ea40a4;
  --business: #3a82ee;
  --personal: var(--primary);
  --light: #eee;
  --grey: #888;
  --dark: #313154;
  --danger: #ff5b57;

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  --business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
  --personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}
/* End of Variables*/

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}
/* End of Resets */

/* Body Styling */
body {
  background: var(--light);
  color: var(--dark);
}
/* End of Body Styling */

/* Section Styling */
section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
/* End of Section Styling */

/* H3 Styling */
h3 {
  color: var(--dark);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
/* End of H3 Styling */

/* H4 Styling */
h4 {
  color: var(--grey);
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
/* End of H4 Styling */

/* Greeting Title Styling */
.greeting .title {
  display: flex;
}
/* End of Greeting Title Styling */

/* Greeting Title Input Styling */
.greeting .title input {
  margin-left: 0.5rem;
  flex: 1 1 0%;
  min-width: 0;
}
/* End of Greeting Title Input Styling */

/* Greeting Title & Title Input Styling */
.greeting .title,
.greeting .title input {
  color: var(--dark);
  font-size: 1.5rem;
  font-weight: 700;
}
/* End of Greeting Title & Title Input Styling */

/* New Todo Form Styling */
#new-todo-form {
  display: block;
  margin-top: 0rem;
}
/* End of New Todo Form Styling */

/* Create Todo Input[Type="text"] Styling */
.create-todo input[type="text"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: var(--dark);
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
}
/* End of Create Todo Input[Type="text"] Styling */

/* Create Todo Input[Type="date"] Styling */
.create-todo input[type="date"] {
  display: inline-flex;
  color: var(--primary);
  margin-bottom: 1.5rem;
  align-items: center;
  padding-inline-start: 1px;
  cursor: pointer;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px 0px 0px 0px;
  box-shadow: var(--shadow);
  background-color: #fff;
  border-radius: 0.5rem;
  font-size: 1.125rem;
}
/* End of Create Todo Input[Type="date"] Styling */

/* Create Todo Options Styling */
.create-todo .options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
}
/* End of Create Todo Options Styling */

/* Create Todo Options label Styling */
.create-todo .options label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  cursor: pointer;
}
/* End of Create Todo Options label Styling */

/* Input [Type="radio" & "checkbox"] Styling */
input[type="radio"],
input[type="checkbox"] {
  display: none;
}
/* End of Input [Type="radio" & "checkbox"] Styling */

/* Bubble Styling */
.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--business);
  box-shadow: var(--business-glow);
}
/* End of Bubble Styling */

/* Bubble Personal Styling */
.bubble.personal {
  border-color: var(--personal);
  box-shadow: var(--personal-glow);
}
/* End of Bubble Personal Styling */

/* Bubble ::After Styling */
.bubble::after {
  content: "";
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: var(--business);
  box-shadow: var(--business-glow);
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}
/* End of Bubble ::After Styling */

/* Bubble Personal ::After Styling */
.bubble.personal::after {
  background-color: var(--personal);
  box-shadow: var(--personal-glow);
}
/* End of Bubble Personal ::After Styling */

/* Input:Checked ~ Bubble::After Styling */
input:checked ~ .bubble::after {
  width: 10px;
  height: 10px;
  opacity: 1;
}
/* End of Input:Checked ~ Bubble::After Styling */

/* Create Todo Options Label Div Styling */
.create-todo .options label div {
  color: var(--dark);
  font-size: 1.125rem;
  margin-top: 1rem;
}
/* End of Create Todo Options Label Div Styling */

/* Create Todo Input[type="submit"] Styling */
.create-todo input[type="submit"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: var(--personal-glow);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
/* End of Create Todo Input[type="submit"] Styling */

/* Create Todo Input[type="submit"]: Hover Styling */
.create-todo input[type="submit"]:hover {
  opacity: 0.75;
}
/* End of Create Todo Input[type="submit"]: Hover Styling */

/* Todo List List Styling */
.todo-list .list {
  margin: 1rem 0;
}
/* End of Todo List List Styling */

/* Todo List Todo Item Styling */
.todo-list .todo-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
}
/* End of Todo List Todo Item Styling */

/* Todo Item Label Styling */
.todo-item label {
  display: block;
  margin-right: 1rem;
  cursor: pointer;
}
/* End of Todo Item Label Styling */

/* Todo Item Todo Content Styling */
.todo-item .todo-content {
  flex: 1 1 0%;
}
/* End of Todo Item Todo Content Styling */

/* Todo Item Todo Content Input Styling */
.todo-item .todo-content input {
  color: var(--dark);
  font-size: 1.125rem;
}
/* End of Todo Item Todo Content Input Styling */

/* Todo Item Actions Styling */
.todo-item .actions {
  display: flex;
  align-items: center;
}
/* End of Todo Item Action Styling */

/* Todo Item Actions Buttun Styling */
.todo-item .actions button {
  display: block;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
/* End of Todo Item Actions Buttun Styling */

/* Todo Item Actions Buttun: Hover Styling */
.todo-item .actions button:hover {
  opacity: 0.75;
}
/* End of Todo Item Actions Buttun: Hover Styling */

/* Todo Item Actions Edit Styling */
.todo-item .actions .edit {
  margin-right: 0.5rem;
  background-color: var(--primary);
}
/* End of Todo Item Actions Edit Styling */

/* Todo Item Actions Delete Styling */
.todo-item .actions .delete {
  background-color: var(--danger);
}
/* End of Todo Item Actions Delete Styling */

/* Todo Item Done Todo Content Styling */
.todo-item.done .todo-content input {
  text-decoration: line-through;
  color: var(--grey);
}
/* End of Todo Item Done Todo Content Styling */
