/*Variables*/
:root {
  --primary: #ea40a4;
  --business: #3a82ee;
  --personal: var(--primary);
  --light: #eee;
  --grey: #888;
  --dark: #313154;
  --danger: #ff5b57;

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  --business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
  --personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}
/* End of Variables*/

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}
/* End of Resets */

/* Body Styling */
body {
  background: var(--light);
  color: var(--dark);
}
/* End of Body Styling */

/* Section Styling */
section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
/* End of Section Styling */

/* H3 Styling */
h3 {
  color: var(--dark);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
/* End of H3 Styling */

/* H4 Styling */
h4 {
  color: var(--grey);
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
/* End of H4 Styling */

/* Greeting Title Styling */
.greeting .title {
  display: flex;
}
/* End of Greeting Title Styling */

/* Greeting Title Input Styling */
.greeting .title input {
  margin-left: 0.5rem;
  flex: 1 1 0%;
  min-width: 0;
}
/* End of Greeting Title Input Styling */

/* Greeting Title & Title Input Styling */
.greeting .title,
.greeting .title input {
  color: var(--dark);
  font-size: 1.5rem;
  font-weight: 700;
}
/* End of Greeting Title & Title Input Styling */

/* New Todo Form Styling */
#new-todo-form {
  display: block;
  margin-top: 0rem;
}
/* End of New Todo Form Styling */

/* Create Todo Input[Type="text"] Styling */
.create-todo input[type="text"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: var(--dark);
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
}
/* End of Create Todo Input[Type="text"] Styling */

/* Create Todo Input[Type="date"] Styling */
.create-todo input[type="date"] {
  display: inline-flex;
  color: var(--primary);
  margin-bottom: 1.5rem;
  align-items: center;
  padding-inline-start: 1px;
  cursor: pointer;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px 0px 0px 0px;
  box-shadow: var(--shadow);
  background-color: #fff;
  border-radius: 0.5rem;
  font-size: 1.125rem;
}
/* End of Create Todo Input[Type="date"] Styling */
